.navbar-body {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    grid-row-gap: 32px;
  }

  &__title {
    cursor: pointer;

    &_active {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-row-gap: 4px;

    &-item {
      cursor: pointer;

      &:hover {
        background-color: #2c59a5;

        .stroke-svg path {
          stroke: #ffffff;
        }

        .fill-svg path {
          fill: #ffffff;
        }

        .double-params-svg {
          .fill-param {
            fill: #ffffff;
          }

          .stroke-param {
            stroke: #ffffff;
          }
        }
      }
    }
  }

  &__auth {
    background-color: rgba(0, 0, 0, 0.04);

    &-btn {
      display: flex;
      align-items: center;
      grid-column-gap: 16px;
      height: 60px;
      background-color: transparent;
      padding: 14px 8px 14px 40px;
      cursor: pointer;

      &-logo {
        background-color: rgba(38, 98, 201, 0.16);
        height: 32px;
        width: 32px;
        overflow: hidden;
        border-radius: 50%;

        .app-text {
          padding: 6px 5px;
        }
      }

      &_logined {
        grid-column-gap: 8px;
      }
    }
  }

  &_long {
    .navbar-body__title {
      padding: 12px 12px 12px 40px;
    }

    .navbar-body__list-item {
      padding: 10px 2px 10px 56px;

      &:hover .app-text {
        color: #ffffff !important;
      }
    }

    .navbar-body__list:not(:last-child) {
      border-bottom: 1px solid #d9d9d9;
    }
  }

  &_short {
    .navbar-body__title {
      display: flex;
      justify-content: center;
      padding: 12px 0;
    }

    .navbar-body__list-item .icon-wrap {
      padding: 8px 0;
    }

    .navbar-body__auth-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0;

      .text-wrap {
        display: none;
      }
    }
  }
}

.basketbar-body_short {
  display: flex;
  flex-direction: column;
  grid-row-gap: 12px;

  .basketbar-body__item {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    grid-column-gap: 16px;
    padding: 0 24px;

    .app-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-empty {
    max-width: 250px;
    width: 100%;
    padding: 0 16px 0 64px;
  }
}

.basketbar-body {
  display: flex;
  flex-direction: column;
  grid-row-gap: 16px;

  &__list {
    display: flex;
    flex-direction: column;
    grid-row-gap: 8px;
    padding: 0 24px;

    .select-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-column-gap: 8px;

      &__name {
        display: flex;
        align-items: center;
        grid-column-gap: 16px;
      }

      &__info {
        display: grid;
        grid-template-columns: auto max-content;
        align-items: center;
        grid-column-gap: 8px;
      }
    }
  }
}

.img-wrap {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 100%;
    width: auto;
  }
}
